.container {
    display: flex;
    flex-direction: column;
}

.list {
    display: none;
}

#select {
    display:flex;
    width: 100%;
}

.caixa {
    width: 100%;
}

.ladoALado {
    display: flex;
    justify-content:space-around;
}

body {
    background-color: rgb(250, 235, 221);
    text-align: center;
}