.list {
    max-height: 500px;
    width: fit-content;
    overflow-y: scroll;
    border: solid black 1px;
}

.caixa {
    border: solid black 1px;
    width: 70%;
    height: 500px;
}

.container {
    display: flex;
}

#foto {
    height: 200px;
    border: black solid;
}

#select {
    display: none;
}

body {
    text-align: center;
}