body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  color: white;
  justify-content: space-between;
  align-items: center;
}

header form {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

main form #nameLast {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

#labelFamily {
  display: flex;
  flex-direction: column;
}

#checkbox {
  display: flex;
  flex-wrap: wrap;
}

#familiaConteudo {
  display: flex;
  justify-content: space-between;
}

footer {
  height: 25px;
  color: white;
  background-color: rgb(50, 167, 145);
  text-align: center;
  padding-top: 0.5%;
}

@media screen and (max-width: 600px){
  body {
    padding: 10px;
  }

  .trybewarts-login {
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
  }

  header {
    display: flex;
    flex-wrap: wrap;
  }

  #logo {
    height: 100px;
  }

  #trybewarts-header-title {
    margin: auto;
  }
  
  #trybewarts-forms-logo {
    display: none;
  }

  #nameLast {
    display: flex;
    flex-direction: column;
  }

  .campo {
    margin-bottom: 10px;
  }

  #emailSelect{
    display: flex;
    flex-direction: column;
    padding: 4px;
  }

  #evaluation-form{
    display: flex;
    flex-direction: column;
    padding: 4px;
  }

  #familiaConteudo {
    display: flex;
    flex-direction: column;
  }

  #label-rate {
    width: 90%;
  }
}
